*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    
        margin:0px auto;
        width:100%;
        max-width:750px;
        min-width: 250px;
        overflow: hidden;
        
        

}
nav{
    
    max-width:750px;
    box-shadow: 0px 2px 0px 0px #E5E9F2;
    height:80px;
    position: relative;
    
}
nav a{
    text-decoration: none;
}
.new{
    display: block;
    position: absolute;   
    z-index: 1;   
    top:25px;
    left:80px;
}
nav ul{
    position:absolute; 
    top:15px;
    left:250px;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap:10px; */
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin:0px 2px;
    
}
nav ul li a{
    /* position: relative;
    left:0px;
    top:0px; */
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color:black;
    font-family: 'Manrope', sans-serif;
}



nav .b1{
    position: absolute; 
    right:80px;
    top:28px;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    background: #8C30F5;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    color:#F1E4FF;
    border: none;
    outline: none;
    cursor: pointer;
    margin:0;
    padding: 0;
}
   nav .b1:hover{
        background-color:#F1E4FF;
        color: #8C30F5;
    }
 nav .b2{
        
        position: absolute;
        right:0px;
        top:28px;
        height: 30px;
        width: 70px;
        border-radius: 25px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        font-family: 'Manrope', sans-serif;
        background: #8C30F5;
        color:#F1E4FF;
        border: none;
        outline: none;
        cursor: pointer;
        margin:0;
        padding: 0;
       
    }
   nav  .b2:hover{
        background-color:#F1E4FF;
        color: #8C30F5;
    }

    /* label #btn,
    label #cancel{
        position: absolute;
        font-size: 35px;
        color:black;
        float:left;
        line-height: 100px;
        left: 100px;
        top:25px;
        cursor:pointer;
        display: none;
    } */
    
    .checkbtn{
        position: absolute;
        top:38px;
        left:30px;
        width:28px;
        height: 4px;
        background: black;
        border-radius: 10px;
        cursor: pointer;
        z-index:1;
        display: none;
    }
    .checkbtn:before,
    .checkbtn:after{
     content:"";
     position: absolute;
     height:4px;
     background: black;
     border-radius: 10px;
     transition: all .5s linear;
    }
    .checkbtn:before{
        top:-9px;
        width:28px;

    }
    .checkbtn:after{
        top:9px;
        width:28px;
    }
    
    #click{
        display: none;
    }
    #click:checked ~ .checkbtn{
        background: transparent;
    }
    #click:checked ~ .checkbtn:before{
        top:0;
        transform: rotate(-45deg);
        width:30px;
    }
    #click:checked ~ .checkbtn:after{
        top:0;
        transform: rotate(45deg);
        width:30px;
    }
    #click:checked ~ ul{
        left:0;
        }
    .b3{
        height: 40px;
        width: 90px;
        border-radius: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        font-family: 'Manrope', sans-serif;
        background: #8C30F5;
        color:#F1E4FF;
        border: none;
        outline: none;
        cursor: pointer;
        margin:0;
        padding: 0;
        position: absolute;
        left:10px;
        bottom:120px;
        display: none;
    }
    .b4{
        height: 40px;
        width: 90px;
        border-radius: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        font-family: 'Manrope', sans-serif;
        background: #8C30F5;
        color:#F1E4FF;
        border: none;
        outline: none;
        cursor: pointer;
        margin:0;
        padding: 0;
        position: absolute;
        left:10px;
        bottom:60px;
        display: none;
    }

@media  only screen and (max-width: 768px){
   
    .checkbtn{
        display: block;
    }
       nav  ul{
            position: fixed;
            /* float: left; */
            width:35%;
            height:80vh;
            background-color:#ff99ff;
            top:0px;
            left:-350%;
            margin: 0px;
            padding:10px;
            transition: all .8s;
            
        }
        nav ul li{
            display:block;
            margin: 0px 5px;
            line-height: 60px;
        }
        nav ul li a{
            position: relative;
            top:90px;
            left:10px;
            font-size: 18px;
            color: black;
            font-weight: 600;
        }  
    }
 

    @media only screen and (max-width:650px){
    
        .checkbtn{
            display: block;
        }
    
        nav ul{
            position: fixed;
            float: left;
            width:100%;
            height:80vh;
            background-color:#ff99ff;
            top:0px;
            left:-350%;
            margin: 0px ;
            padding-top:0px; 
            transition: all .8s;

        }
        nav ul li{
            display:block;
            margin: 0px 5px;
            line-height: 60px;
        }
        nav ul li a{
            position: relative;
            top:90px;
            left:10px;
            font-size: 15px;
            color: black;
            font-weight: 600;
       }  
       
     }  
     
     
     
        @media only screen and (max-width:350px){
            
            .checkbtn{
                display: block;
            }
        
            nav ul{
                position: fixed;
                float: left;
                width:100%;
                height:80vh;
                background-color:#ff99ff;
                top:0px;
                left:-150%;
                margin: 0px ;
                padding-top:0px; 
                transition: all .7s;
               
            }
            nav ul li{
                display:block;
                line-height: 50px;
            }
            nav ul li a{
                position: relative;
                top:90px;
                left:10px;
                font-size: 15px;
                color: black;
                font-weight: 600;
           }  
           nav .b1{
               display: none;
           }
           nav .b2{
            display: none;
        }
        .b3{
            display:block;
        }
        .b4{
            display: block;
        }
    }  
         
 
     